* {
  box-sizing: border-box;
}

.flex {
  display: flex;
} 
.justify-center {
  justify-content: center;
} 
.align-center {
  align-items: center;
}
.direction-column {
  flex-direction: column;
}

img {
  max-width: 100%;
}

section {
  margin-bottom: 50px;
}

.logo-line a:before {
  background-color: #18d26e;
  content: "";
  position: relative;
  display: inline-block;
  vertical-align: middle;
  right: 10px;
  width: 4px;
  height:42px;
}

#top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0)!important;
  padding: 0 70px;
}

#top-navbar a {
  color: white;
}

.navbar-brand {
    padding: 0 10px;
    font-size: 34px;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: "Montserrat", sans-serif;
    transition: .3s;
}

.nav-item>a { 
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.nav-link {
    padding: 10px 0 10px 30px!important;
}

.nav-link.active {
  color: #18d26e!important;
}

.nav-link:hover {
  color: #18d26e!important;
  transition: 0.3s;
}

/* Carusell */

#carouselExampleCaptions {
  min-height: 100vh;
}

#carouselExampleCaptions h5,
#carouselExampleCaptions p {
  color: white;
  z-index: 2;
}

.carousel-caption {
  z-index: 1;
}

.carousel-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-item.active {
  height: 100vh;
}

.first {
  background-image: url(../img/img1.jpg);
  background-size: cover;
}
.second {
  background-image: url(../img/img2.jpg);
  background-size: cover;
}
.third {
  background-image: url(../img/img3.jpg);
  background-size: cover;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding: 0 10px;
    color: white;
    z-index: 1;
}
.btn-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
    text-decoration: none;
    z-index: 1;
}

.btn-started:hover {
  color: #18d26e;
  background: white;
}

.carousel-item  {
    padding: 0 100px;
}

.carousel-item h2, p {
    width: 100%;
    text-align: center;
    max-width: 920px;
}

/* Media query */

@media (max-width: 992px) {

  #top-navbar {
    padding: 0;
  }

  .navbar-brand {
    font-size: 28px;
  }

  .logo-line a:before {
    height:36px;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
  }

  .navbar-toggler {
    padding: 0;
  }
  
  .navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
  }

  .navbar-collapse .nav-link {
    color: black!important;
  }

  .navbar-collapse {
    background-color: white;
    min-height: 96vh;
  }

  .nav-link:active {
    color: #18d26e!important;
  }

}
