$title-font: "Montserrat", sans-serif;
$regular-font: 'Open Sans', sans-serif;
$main-green-font: #18d26e;
$white-color: #fff;
$grey-text: #333333;
$main-font-size: 16px;

@use 'sass:math';

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}

%carousel-item {
    width: 100%;
    height: 100%;
    background-size: cover;
}

%nav-links {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

%carousel-text {
    color: $white-color;
    z-index: 1;
}

* {
    box-sizing: border-box;
}

html, body {
    font-size: $main-font-size;

    background-color: grey;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
}

/*  Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: pxToRem(80px);
    z-index: 2;

    .navbar {
        height: 5rem;

        .nav-logo {
            font-size: pxToRem(34px);
            font-family: $title-font;
            font-weight: 700;
            border-left: pxToRem(4px) solid $main-green-font;
            letter-spacing: pxToRem(3px);
            padding-left: pxToRem(10px);
            height: pxToRem(40px);
            display: flex;
            align-items: center;
        }
        .nav-item {
            .nav-link {
                @extend %nav-links;
                font-family: $title-font;
                color: $white-color;
                padding: pxToRem(10px) 0 pxToRem(10px) pxToRem(30px);
                cursor: pointer;

                &.active {
                    color: #18d26e!important;
                }
            }
        }
    }
}

/* Section */

.section1 {
    .carousel-inner {
        height: 100vh;
        .carousel-item {
            &-1 {
                background-image: url(../img/img1.jpg);
                @extend %carousel-item;
            }
            &-2 {
                background-image: url(../img/img2.jpg);
                @extend %carousel-item;
            }
            &-3 {
                background-image: url(../img/img3.jpg);
                @extend %carousel-item;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.5);
            } 

            .carousel-item-text {
                h2 {
                    font-size: 3rem;
                    font-weight: bold;
                    margin-bottom: 2rem;
                    @extend %carousel-text;
                }
                p {
                    @extend %carousel-text;
                    margin-bottom: 2rem;
                    max-width: 60%;
                  }
            }
        }
    }
}

