.section-hero .carousel-inner .carousel-item-3, .section-hero .carousel-inner .carousel-item-2, .section-hero .carousel-inner .carousel-item-1 {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.header .navbar .nav-item .nav-link {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.section-hero .carousel-inner .carousel-item .carousel-item-text p, .section-hero .carousel-inner .carousel-item .carousel-item-text h2 {
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
  z-index: 1;
}

.section-hero .carousel-inner .carousel-item .carousel-item-text a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  background-color: #18d26e;
  padding: 0.5rem 2rem;
}

.section-about .section-header {
  padding: 3.75rem 0 2.5rem 0;
  text-align: center;
  z-index: 3;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-size: 16px;
  background-color: grey;
}

img {
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

/*  Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 2;
}
.header .navbar {
  height: 5rem;
}
.header .navbar .nav-logo {
  font-size: 2.125rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-left: 0.25rem solid #18d26e;
  letter-spacing: 0.1875rem;
  padding-left: 0.625rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .navbar .nav-item .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  padding: 0.625rem 0 0.625rem 1.875rem;
  cursor: pointer;
}
.header .navbar .nav-item .nav-link.active {
  color: #18d26e !important;
}
.header .navbar .nav-item .nav-link:hover {
  color: #18d26e;
}

/* Sections */
.section-hero .carousel-inner {
  height: 100vh;
}
.section-hero .carousel-inner .carousel-item-1 {
  background-image: url(../img/img1.jpg);
}
.section-hero .carousel-inner .carousel-item-2 {
  background-image: url(../img/img2.jpg);
}
.section-hero .carousel-inner .carousel-item-3 {
  background-image: url(../img/img3.jpg);
}
.section-hero .carousel-inner .carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.section-hero .carousel-inner .carousel-item .carousel-item-text h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}
.section-hero .carousel-inner .carousel-item .carousel-item-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  max-width: 60%;
}
.section-hero .carousel-inner .carousel-item .carousel-item-text a {
  font-family: "Montserrat", sans-serif;
  border-radius: 2rem;
  letter-spacing: 0.0625rem;
  z-index: 1;
}

.section-services .service-item {
  padding: 1.875rem 1.25rem;
}
.section-services .service-item i {
  font-size: 3rem;
  color: #18d26e;
}
.section-services .service-item h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  margin: 0.9375rem 0;
}
.section-services .service-item p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 0.875rem;
}
.section-services .service-item.midle {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(50%, #242323), to(#000000));
  background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}

.section-about .section-header h3 {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 0.9375rem;
}
.section-about .section-header h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 7.5rem;
  height: 0.0625rem;
  background: #ddd;
  left: calc(50% - 60px);
  bottom: 1px;
}
.section-about .section-header p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}