@import 'variables.scss';

* {
    box-sizing: border-box;
}

html, body {
    font-size: $main-font-size;

    background-color: grey;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $white-color;
}


