$title-font: "Montserrat", sans-serif;
$regular-font: 'Open Sans', sans-serif;
$main-green-color: #18d26e;
$white-color: #fff;
$black-color: #000;
$grey-text: #333333;
$main-font-size: 16px;

@use 'sass:math';

@function pxToRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem; 
}

%carousel-item {
    width: 100%;
    height: 100%;
    background-size: cover;
}

%nav-links {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}

%carousel-text {
    color: $white-color;
    margin-bottom: pxToRem(32px);
    text-align: center;
    z-index: 1;
}

%button {
    color: $white-color;
    font-size: pxToRem(16px);
    font-weight: 500;
    background-color: $main-green-color;
    padding: pxToRem(8px) pxToRem(32px);
}

%section-header {
    padding: pxToRem(60px) 0 pxToRem(40px) 0;
    text-align: center;
    z-index: 3;

    h3 {
        position: relative;
        font-family: $title-font;
        font-size: pxToRem(32px);
        text-transform: uppercase;
        font-weight: 700;
        padding-bottom: pxToRem(15px);

        &::before {
            content: '';
            position: absolute;
            display: block;
            width: pxToRem(120px);
            height: pxToRem(1px);
            background: #ddd;
            left: calc(50% - 60px);
            bottom: 1px;
        }
    }

    p {
        font-family: $regular-font;
        font-size: pxToRem(16px);
    }
} 



* {
    box-sizing: border-box;
}

html, body {
    font-size: $main-font-size;

    background-color: grey;
}

img {
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $white-color;
}

/*  Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: pxToRem(80px);
    z-index: 2;

    .navbar {
        height: 5rem;

        .nav-logo {
            font-size: pxToRem(34px);
            font-family: $title-font;
            font-weight: 700;
            border-left: pxToRem(4px) solid $main-green-color;
            letter-spacing: pxToRem(3px);
            padding-left: pxToRem(10px);
            height: pxToRem(40px);
            display: flex;
            align-items: center;
        }
        .nav-item {
            .nav-link {
                @extend %nav-links;
                font-family: $title-font;
                color: $white-color;
                padding: pxToRem(10px) 0 pxToRem(10px) pxToRem(30px);
                cursor: pointer;

                &.active {
                    color: #18d26e!important;
                }
                &:hover {
                    color: $main-green-color;
                }
            }
        }
    }
}

/* Sections */

.section-hero {
    .carousel-inner {
        height: 100vh;
        .carousel-item {
            &-1 {
                background-image: url(../img/img1.jpg);
                @extend %carousel-item;
            }
            &-2 {
                background-image: url(../img/img2.jpg);
                @extend %carousel-item;
            }
            &-3 {
                background-image: url(../img/img3.jpg);
                @extend %carousel-item;
            }
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.5);
            } 

            .carousel-item-text {
                h2 {
                    @extend %carousel-text;
                    font-family: $title-font;
                    font-size: pxToRem(48px);
                    font-weight: 700;
                }
                p {
                    @extend %carousel-text;
                    font-family: $regular-font;
                    font-size: pxToRem(16px);
                    max-width: 60%;
                }
                a {
                    @extend %button;
                    font-family: $title-font;
                    border-radius: pxToRem(32px);
                    letter-spacing: pxToRem(1px);
                    z-index: 1;
                }
            }
        }
    }
}

.section-features {
    .service-item {
        padding: pxToRem(30px) pxToRem(20px);
        i {
            font-size: pxToRem(48px);
            color: $main-green-color;
        }
        h4 {
            font-family: $title-font;
            font-size: pxToRem(18px);
            margin: pxToRem(15px) 0;
        }
        p   {
            font-family: $regular-font;
            color: $white-color;
            font-size: pxToRem(14px);
        }

    &.midle {
        background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
        }
    }
}

.section-about {
    .section-header {
        @extend %section-header;
    }
}

.section-services {
    .section-header {
        @extend %section-header;
    }
}


