@import 'variables.scss';

.section-services {
    .section-header {
        @extend %section-header;
    }
    
    .service-item {
        padding: pxToRem(30px) pxToRem(20px);
        i {
            font-size: pxToRem(48px);
            color: $main-green-color;
        }
        h4 {
            font-family: $title-font;
            font-size: pxToRem(18px);
            margin: pxToRem(15px) 0;
        }
        p   {
            font-family: $regular-font;
            color: $black-color;
            font-size: pxToRem(14px);
        }
    }
}
