@import 'variables.scss';

.section-services {
    .section-header {
        @extend %section-header;
    }
    .service-item {
        @extend %section-item;
        i {
            float: left;
            padding-right: pxToRem(20px);
        }
        a {
            font-weight: 700;
            color: black;
        }
        p {
            margin-left: 70px;
            color: $grey-text;
        }
    }
}
