<section class="section-services bg-light">    
  <div class="container">
    <div class="section-header">
      <h3 class="section-title">Services</h3>
      <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 service-item">
        <i class="bi bi-briefcase"></i>
        <h4 class="service-title">
          <a href="#">Lorem Ipsum Delino</a>
        </h4>
        <p class="service-description">
          Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
        </p>
      </div>
      <div class="col-lg-4 service-item midle">
        <i class="bi bi-card-checklist"></i>
        <h4 class="service-title">
          <a href="#">Dolor Sitema</a>
        </h4>
        <p class="service-description">
          Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
        </p>
      </div>
      <div class="col-lg-4 service-item">
        <i class="bi bi-binoculars"></i>
        <h4 class="service-title">
          <a href="#">Sed ut perspiciatis</a>
        </h4>
        <p class="service-description">
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
        </p>
      </div>
    </div>
          <div class="row">
        <div class="col-lg-4 service-item">
          <i class="bi bi-briefcase"></i>
          <h4 class="service-title">
            <a href="#">Lorem Ipsum Delino</a>
          </h4>
          <p class="service-description">
            Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident
          </p>
        </div>
        <div class="col-lg-4 service-item midle">
          <i class="bi bi-card-checklist"></i>
          <h4 class="service-title">
            <a href="#">Dolor Sitema</a>
          </h4>
          <p class="service-description">
            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata
          </p>
        </div>
        <div class="col-lg-4 service-item">
          <i class="bi bi-binoculars"></i>
          <h4 class="service-title">
            <a href="#">Sed ut perspiciatis</a>
          </h4>
          <p class="service-description">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
          </p>
        </div>
      </div>
  </div>
</section>