<section class="section-about bg-light">    
    <div class="container">
      <div class="section-header">
        <h3 class="section-title">About Us</h3>
        <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="row">
        <dic class="col-md-4">
          <div class="card">
            <div class="img">
              <img src="img/about-mission.jpg" class="card-img-top" alt="...">
              <div class="icon">
                <i class="bi bi-bar-chart"></i>
              </div>            
            </div>
            <div class="card-body">
              <h5 class="card-title">Our Mission</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </dic>
        <dic class="col-md-4">
          <div class="card">
            <div class="img">
              <img src="img/about-plan.jpg" class="card-img-top" alt="...">
              <div class="icon">
                <i class="bi bi-brightness-high"></i>
              </div>            
            </div>
            <div class="card-body">
              <h5 class="card-title">Our Plan</h5>
              <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo..</p>
            </div>
          </div>
        </dic>
        <dic class="col-md-4">
          <div class="card">
            <div class="img">
              <img src="img/about-vision.jpg" class="card-img-top" alt="...">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>            
            </div>
            <div class="card-body">
              <h5 class="card-title">Our Vision</h5>
              <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
            </div>
          </div>
        </dic>
      </div>
      </div>
</section>